body{
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

header{
  background: black;
  color: white;
  padding: 10px;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 48px;
  border-bottom: 1px solid seashell;
  display: flex;
  justify-content: space-between;
}

header img{
  height: 50px;
}

header a{
  color: white;
}


nav span{
padding: 12px 12px;
}

#mission{
background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
background-size: cover;
background-position: center;
height: 700px;
width: 1200px;
padding-top: 69px;
display: flex;
justify-content: center;
align-items: center;
}

.mission-statement{
  flex-grow: 1;
  background-color: black;
}

.flex-container{
display: flex;
justify-content: center;
flex-wrap: wrap;
}


#store.item img{
  width: 300px;
  height: 200px;
}

#store.item span{
  font-weight: bold;
}

.item{
  padding: 5px;
}

.item img{
  height: 200px;
  margin: 10px;
  display: block;
}

.item span{
  display: block;
  padding: 5px;
  font-weight: bold;
  text-align: center;
}

#locations{
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg);
  height: 500px;
  padding-top: 70px;
}

#locations .flex-container{
  margin: auto;
  width: 1100px;
}

.location{
  opacity: 1.0;
  padding: 10px;
  margin: 5px 20px;
  background-color: black;
  flex-basis: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#store{
width: 1000px;
}

footer{
  text-align: left;
  padding: 20px;
}

#contact{
  height: 200px;
}

#mission, #store, #locations{
  margin: 0px auto;
}
